body{
	margin: 0;

}

.header {
	height: 64px;
	background-color: black;
	display: flex;
	justify-content: space-between;
	position: fixed;
	width: 100%;
	padding-top: 0;
}

.logo { 
	font-family: "Dancing Script", cursive;
	font-size: 50px;
	text-align: center;
	color: #7DA33B;
	top:0;
 }
 .nav { 
 	display: flex;
 	align-items: center;
 	padding: 0 3rem;
 	color: white;
  }

  a {
  	text-decoration: none;
  	padding: 0.5rem;
    color: white;
    font-family: 'Raleway', sans-serif;
  }
  a:hover {
    color: #7DA33B;
  }

  .h1{ 
  	font-family: "Dancing Script", cursive;
  	font-size: 140px;
  	color: white;
  	font-weight: 700;
    margin-top: 0;
    margin-bottom: 10px;
   }

   .p1{
   	color: white;
    font-size: 32px;
    font-weight: 300;
    margin-bottom: 40px;
    font-family: 'Raleway', sans-serif;
   }

   .button1{
   	text-transform: uppercase;
    color: #fff;
    background-color: #72a411;
    border: 0;
    padding: 14px 20px;
    margin: 0;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
   }

   .title{
   	padding-top: 250px;
    padding-bottom: 200px;
   	text-align: center;
   	 background-image: url("http://www.templatewire.com/preview/touche/img/intro-bg.jpg");
   }
   .about{
   	display:flex;
   	justify-content: center;
   	background-color: white;
   	padding: 120px;
    padding-top: 120px;
    padding-right: 0px;
    padding-bottom: 120px;
    padding-left: 0px;
   }
   .pic1{
   	display: inline-block;
    position: relative;
    margin: 20px 40px 20px 40px;
   }
   .abouttext{
   	display:block;
   	justify-content: center;
    font-family: 'Raleway', sans-serif;
   }
   .h2{
   	text-transform: uppercase;
   	padding-top: 1rem;
   	font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
   }
   .awarded{
   	font-size: 25px;
    font-family: 'Raleway', sans-serif;
   }
   .hr{
   	height: 2px;
    width: 70px;
    position: relative;
    text-align: center;
    background: #8eb640;
    margin: 0;
    margin-bottom: 40px;
    border: 0;
   }
   .p2{
   	color: grey;
   	font-size: 20px
   }
   .gallerywindow{
   	justify-content: center;
   	background-image: url("http://0ff4b334118ecb618561-ab170b9eddca340bbc5dbb0222e2baff.r95.cf1.rackcdn.com/responsive/16:9/0ff4b334118ecb618561-ab170b9eddca340bbc5dbb0222e2baff.r95.cf1.rackcdn.com/restaurants-irs/235496/fandangles-atlanta-restaurant-2.jpg");
   	width: 100%
   	padding: 100px;
    padding-top: 100px;
    padding-right: 0px;
    padding-bottom: 100px;
    padding-left: 0px;
    font-family: 'Raleway', sans-serif;
   }
   .galleryh2{
   	color: white;
   	text-align: center;
   	text-transform: uppercase;
   	font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
    font-family: 'Raleway', sans-serif;
   }
   .menuh2{
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
    font-family: 'Raleway', sans-serif;
   }
   .p3{
   	text-align: center;
   	color: white;
   	font-size: 25px;
   }
   .menup {
    text-align: center;
    color: white;
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
   }
   .menu{
    justify-content: center;
    background-image: url("https://www.pritikin.com/wp/wp-content/uploads/2013/11/one-fatty-meal.jpg");
    width: 100%
    padding: 100px;
    padding-top: 100px;
    padding-right: 0px;
    padding-bottom: 100px;
    padding-left: 0px;
    font-family: 'Raleway', sans-serif;
   }
   .jela {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    padding: 4%;
    padding-bottom: 3%;
   }
   .brekfast {
    text-align: center;
    font-family: 'Raleway', sans-serif;
   }
   .jelatx {
    display: flex;
    flex-direction: column;
    margin: 5%;
    justify-content: center;
    font-size: 15px;
   }
   .hrana {
    display: flex;
    justify-content: space-between;
    border-bottom: dotted;
    font-family: 'Raleway', sans-serif;
   }
   .hrana2 {
    font-family: 'Raleway',sans-serif;
    margin-top: -1%;
   }
   .slika {
    width: 350px;
    height: 250px;
    margin: 2% 2% 2% 2%;
    outline: 1px solid white;
    outline-offset: -8px;
   }
   .gallery {
    background-color: #fff;
    text-align: center;
   }
   .gallery button {
    padding: 1%  2% 1% 2%;
    border: none;
    margin: 5% 1% 5% 1%;
    font-family: 'Open Sans',sans-serif;
   }
   .slike {
    display: flex;
    flex-wrap: wrap;
    margin: 3%;
    justify-content: space-between;
    padding-bottom: 5%;
   }
   .dno {
    background: #8eb640;
    color: #fff;
    text-align: center;
    padding: 1% 1% 1% 1%;
   }
   .dno2 {
    text-align: center;
    margin: 2% 9% 2% 9%;
   }
   .fb {
    width: 64px;
    height: 64px;
    margin:  0% 2%;
   }
   .pdno {
    font-family: 'Raleway', sans-serif;
   }